.triviaSpace {
     background-color: black;
     text-align: center;
     height: 250px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.jumbotron{
    background-color:black;
}
#gameStart, #mutlipleChoice {
    height: auto;
    margin: auto;
    font-size: 16px;
}

div {
    color: white;
}

button {
    text-align: center;
}
