.triviaSpace {
     background-color: black;
     opacity: 20%;
     text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.jumbotron{
    background-color:black;
}
.gameStart {
    flex: auto;
    margin: auto;
    font-size: 16px; 
    padding: 5 px;
}


div {
    color: white;
}

button {
    margin: auto;
    text-align: center;
}

.choice  {
    flex: auto;
    margin: auto;
    padding: 5 px;
}